.App {
  /* text-align: center; */
}

.sub-page {
    /* margin-top: 4%; */
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: steelblue;
    height: 700px;
}

.main-title {
    color: black;
    margin-top: 20%;
    margin-left: 20%;
}
